:root {
  color-scheme: light dark;
  background-image: url("../assets/bg-image.jpeg");
  background-position: center top;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
